/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400');*/

@import url('https://rsms.me/inter/inter-ui.css');

body{
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", sans-serif !important;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 2rem;
  /* background-color: #171717;
  color: #f1f1f1; */
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: sticky;
  top: 2rem; */
  /* background-color: white; */
}

main{
  width: 100%;
}

a{
  color: blue;
  text-decoration: none;
  border: none !important;
  word-wrap: break-word;
  padding: 0px !important;
  margin: 0px;
}

a:hover{
  text-decoration: underline;
}

p{
  margin: 0px;
  padding: 0px;
}

.border{
  border: 1px solid rgba(0,0,0,.2);
  transition: border 0.2s ease;

}

.border:hover {
  border: 1px solid rgba(0,0,0,.4);
}

.add{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  /* position: sticky;
  top: 100px; */
  /* background-color: white; */
}

.entry {
  display: none;
}

.info {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.size {
	margin-right: 1rem;
	font-size: 16px;
	opacity: 0;
}

.toggle{
  width: 12px;
  transform: rotate(90deg);
  margin-right: 1rem;
  color: rgba(0,0,0,.4);
  /* margin-top: 2px; */
  opacity: 0;
}

.toggle:hover{
  text-decoration: none;
  color: rgba(0,0,0,1);
}

.remove{
  margin-right: 1rem;
  color: rgba(0,0,0,.4);
  margin-top: -2px;
  opacity: 0;
  color: salmon;
}

.remove:after{
  content: '×';
}

.remove:hover{
  text-decoration: none;
}

.remove:hover:after{
  color: rgba(0,0,0,1);
}

.urlInput {
  margin-bottom: 2rem;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider p{
  margin-right: 1rem;
  white-space: nowrap;
}

.control{
  padding-left: 2rem;
}

.pin{
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.pin:hover .toggle{
  opacity: 1;
}

.pin:hover .remove{
  opacity: 1;
}

.pin:hover .size {
	opacity: 1;
}

.pin:last-child{
  margin-bottom: 0px;
}

.url{
  /* margin-top: -2px; */
  max-width: 60vw;
  overflow: hidden;
  white-space: nowrap;
  height: 1.1em;
  text-overflow: ellipsis;

}

.seed{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.seed:hover:after{
  content: '↗';
  color: rgba(0,0,0,.5);
  text-decoration: none;
  margin-left: .5rem;
  /* margin-top: 2px; */
}

.dot{
  width: 12px !important;
  height: 12px;
  border-radius: 100px;
  margin-right: 1rem;
  background-color: #171717;
}

.green{
    background-color: #6FCF97;
}

.yellow{
    background-color: #ffe949;
}

.red {
	background-color: salmon;
}

.d {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin-left: 2rem;
  border: 3px solid #6FCF97;
  -webkit-animation: sk-scaleout 3.0s infinite ease-in-out;
  animation: sk-scaleout 3.0s infinite ease-in-out;
}

.green{
  color: #6FCF97;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}


.input {
  margin-bottom: 2rem;
  padding: 3rem;
}

.cancel{
  color: #ccc;
}

.cencel:hover{
  text-decoration: underline;
}

.save{
  margin-left: 1rem;
}

.save:hover{
  text-decoration: underline;
}

.urlInput{
  color: #000;
  font-size: 24px;
  font-weight: 300;
  width: 100%;
  padding: 0px;
  padding-bottom: .5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}


input[type="range"] {
  -webkit-appearance: none;
  max-width: 100%;
  margin: 11.5px 0;
  margin-top: 5px;
  overflow: visible;
  flex-grow: 1;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #000000;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #171717;
}

/* input[type='range'] {
  box-sizing: border-box;
  border: 0px solid transparent;
  padding: 0px;
  margin: 0px;
  background: repeating-linear-gradient(90deg, #00000050, #00000050 1px, transparent 1px, transparent 25%) no-repeat 50% 50%;
} */
