/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400');

@import url('https://fonts.googleapis.com/css?family=Space+Mono'); */

@import url('https://rsms.me/inter/inter-ui.css');

body{
  font-size: 24px;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Inter UI', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 2rem;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main{
  width: 100%;
}

a{
  color: blue;
  text-decoration: none;
  border: none !important;
  word-wrap: break-word;
  padding: 0px !important;
  margin: 0px;
}

a:hover{
  text-decoration: underline;
}

p{
  margin: 0px;
  padding: 0px;
}

.border{
  border: 1px solid rgba(0,0,0,.2);
}

.border:hover {
  border: 1px solid rgba(0,0,0,.4);
}

.add{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.entry {
  display: none;
}

.info {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.control{
  padding-left: 2rem;
}

.pin{
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}


.url{
  /* color: blue; */
  margin-top: -2px;
}

.seed{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.seed:hover:after{
  content: '↗';
  color: rgba(0,0,0,.5);
  text-decoration: none;
  margin-left: .5rem;
  /* margin-top: 2px; */
}

.dot{
  width: 12px;
  height: 12px;
  border-radius: 100px;
  margin-right: 1rem;
}

.green{
    background-color: #6FCF97;
}

.yellow{
    background-color: #ffe949;
}

.d {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin-left: 2rem;
  border: 3px solid #6FCF97;
  -webkit-animation: sk-scaleout 3.0s infinite ease-in-out;
  animation: sk-scaleout 3.0s infinite ease-in-out;
}

.green{
  color: #6FCF97;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

.remove{
  margin-left: 1rem;
  color: rgba(0,0,0,.2);
  margin-top: -2px;
}

.remove:after{
  content: '×';
}

.remove:hover:after{
  color: rgba(0,0,0,1);
}

.input {
  margin-bottom: 2rem;
  padding: 2rem;
}

.cancel{
  color: #ccc;
}

.cencel:hover{
  text-decoration: underline;
}

.save{
  margin-left: 1rem;
}

.save:hover{
  text-decoration: underline;
}


input{
  color: #000;
  font-size: 24px;
  font-weight: 300;
  width: 100%;
  padding: 0px;
  padding-bottom: .5rem;
  opacity: .6;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

/* .configure a:after{
  content: '⬡';
}
.configure a:hover:after{
  content: '⬢';
} */
